{% set page_title = title ~ ' - ' ~ wiki_title if title != 'README' else wiki_title %}{% include '_header.html' %}
<body>
  <header class="sticky-header">
      <div class="hamburger" onclick="toggleMenu('mainmenu')">&#9776;</div>
      <div class="site-name" style="text-transform: uppercase;font-size: 2rem;">{{ wiki_title }}</div>
      <nav>
          <a href="/">Home</a>
          <a href="/all-pages.html" style="padding-left:7px;">All Pages</a>
          <a href="#" style="padding-left:7px;">Random Page</a>
          <a href="/search.html" style="padding-left:7px;">Search</a>
      </nav>
  </header>
  <div class="flex-container">
    <aside id="sidebar" class="side-column">
      <div class="collapsible" id="mainmenu">
          <h2>Main Menu</h2>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/all-pages.html">All Pages</a></li>
            <li><a href="#" onclick="location.href=lunr_posts[Math.floor(Math.random() * lunr_posts.length)].link">Random Page</a></li>
            <li><a href="/search.html">Search</a></li>
          </ul>
      </div>
    </aside>
    <main id="main" class="main-column">
<!--  <div class="hamburger" id="contents-toggle">&#9776;</div> -->
      <article>
        <div class="content markdown-body">
          {{ markdown_body }}
        </div>
      </article>
    </main>
  </div>
  <script src="/mwb-static/js/script.js"></script>
  {% include '_footer.html' %}
</body>
</html>
