<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_title }}</title>
    <link rel="stylesheet" href="/mwb-static/css/pure-min.css">
    <link rel="stylesheet" href="/mwb-static/css/side-menu/styles.css">
    {% if lunr_index_sitepath != '' %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lunr.js/2.3.9/lunr.min.js"></script>
    <script src="{{lunr_index_sitepath}}"></script>
    <script>var index = lunr.Index.load(lunr_index)</script>
    {% endif %}
    {% if lunr_posts_sitepath != '' %}
    <script src="{{lunr_posts_sitepath}}"></script>
    {% endif %}
</head>
